/*
$title-color: #212121;

$accent-color: #2196f3;

$second-bgc: #2F303A;
$hero-linear-color: rgba(47, 48, 58, 0.4);
$service-overlay-bgc: rgba(47, 48, 58, 0.8);
$btn-box-shadow: rgba(0, 0, 0, 0.15);
$primary-white-color: #ffffff;
$third-bgc: #f5f4fa;
$logo-text-color: #000000;
$btn-hf-color: #188CE8;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$footer-icon-bgc: rgba(255, 255, 255, 0.1);
$footer-input-border-color: rgba(255, 255, 255, 0.3);
$backdrop-bgc: rgba(0, 0, 0, 0.2);
$shadow-prime-color: rgba(0, 0, 0, 0.12);
$shadow-second-color: rgba(0, 0, 0, 0.14);
$shadow-third-color: rgba(0, 0, 0, 0.2);
$shadow-fourth-color: rgba(0, 0, 0, 0.08);
$shadow-fifth-color: rgba(0, 0, 0, 0.06);
$shadow-sixth-color: rgba(0, 0, 0, 0.16);
$btn-close-border-color: rgba(0, 0, 0, 0.1);
$btn-close-icon: #000000;
$placeholder-color: rgba(117, 117, 117, 0.5);
$poster-border-color: #EEEEEE;
$header-border-color: #ECECEC;
$main-icon-fill: #AFB1B8;
$input-border-color: rgba(33, 33, 33, 0.2);
$projects-overlay-bgc: rgba(33, 150, 243, 0.9);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$duration: 250ms;
$font-family: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$width-min-mobile: 480px;
$width-max-mobile: 767.98px;
$width-min-tablet: 768px;
$width-max-tablet: 1199.98px;
$width-min-desktop: 1200px;
*/
html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #191919;
  font-family: "Roboto", sans-serif;
}

/*body {
    color: $primary-text-color;
    background-color: $primary-bgc;
    font-family: $font-family;
    letter-spacing: 0.03em;
}*/
/*.btn {
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px $btn-box-shadow;
    border: none;
    color: $primary-white-color;
    background-color: $accent-color;  
    display: inline-block; 
    text-align: center;
    cursor: pointer;
}*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

/*.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 480px) {
      width: 480px;
    }
    
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}*/
.section {
  padding-top: 185px;
  padding-bottom: 185px;
}

/*.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}  
.section--no-padding {
    padding-top: 0; 
    @media screen and (max-width:1199.98px) {
        display: none;
    }
}
.section--other-bgc {
    background-color: $third-bgc;
}

.section__title {
    color: $title-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 1.16;
        margin-bottom: 50px;
    }
}

.section__title--hidden {
    @extend .visualy-hidden;
}*/
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background-color: #A2A0A0;
  background-image: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.logo::after {
  content: " ";
  position: absolute;
  background-image: url(../../images/logo/logo.png);
  width: 146px;
  left: 5px;
  height: 146px;
  top: 25px;
  z-index: 1;
}

.header__logo {
  width: 184px;
  margin-right: 65px;
  margin-left: 65px;
  padding: 13px 0;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 610px;
}

.menu-nav__link {
  font-family: "Roboto", sans-serif;
  color: #e1dece;
  padding: 9px 0;
}

.menu-nav__link--current {
  color: #ffffff;
  position: relative;
}

.menu-nav__link--current::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 2px;
}

.header__contact-tel {
  font-family: "Roboto", sans-serif;
  background-color: #A2A0A0;
  background-image: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  padding: 9px 0;
}

.hero {
  position: relative;
  text-align: center;
  background-image: url(../../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100px 0;
}

.hero__title {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.24;
  color: #ffffff;
  margin-bottom: 22px;
  font-style: normal;
}

.hero__subtitle {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 25px;
}

.hero__btn {
  padding: 23px 40px;
  background: #FFFFFF;
  border-radius: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  border: transparent;
  color: #191919;
}

.hero__btn::after {
  content: " ";
  position: absolute;
  background-image: url(../../images/hero/interior-design.png);
  background-repeat: no-repeat;
  width: 370px;
  height: 200px;
  right: 0;
  bottom: -60px;
}

.hero__left-side {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-90deg) translateY(10%);
          transform: rotate(-90deg) translateY(10%);
  top: 320px;
  left: -250px;
  width: 600px;
}

.left-side__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-side__list::after {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background-color: #FFFFFF;
}

.left-side__item {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.left-side__link {
  display: block;
  width: 100%;
  height: 100%;
}

.left-side__icon {
  fill: #e1dece;
}

.left-side__link:hover .left-side__icon,
.left-side__link:focus .left-side__icon {
  fill: #FFFFFF;
}

.left-side__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #e1dece;
}

/*
@import './vendors/normalize';
@import './vendors/vh';
@import './utils/vars';
@import './base/common';
@import './components/logo';

@import './components/features';
@import './components/service';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
@import './components/filter';
@import './components/projects';
*/
/*# sourceMappingURL=main.css.map */