.header__container {
    display: flex;
   align-items: center; 
}

.logo {
    font-family: $font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    
    background-color: #A2A0A0;
    background-image: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


}

.logo::after {
    content: " ";
    position: absolute;
    background-image: url(../../images/logo/logo.png);
    width: 146px;
    left: 5px;
    height: 146px;
    top: 25px;
    z-index: 1;

}
.header__logo {
    width: 184px;
    margin-right: 65px;
    margin-left: 65px;
    
    
    padding: 13px 0;
}
.menu-nav {
    display: flex;
    justify-content: space-between;
    width: 610px;
}


.menu-nav__link {
    font-family: $font-family;
    color: $secondary-title-color;
    padding: 9px 0;
}
.menu-nav__link--current {
    color: $primary-title-color;
    position: relative;
}

.menu-nav__link--current::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;;
    height: 2px;
    width: 100%;
    background-color: $primary-title-color;
    border-radius: 2px;
    
}
.header__contact-tel {
    font-family: $font-family;
    background-color: #A2A0A0;
    background-image: linear-gradient(106.99deg, #E0DEDE 24.92%, #A2A0A0 53.57%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 9px 0;

}
